{{> header}}
<div class="container">
  <div class="card parenthesis-card">
    <div class="card-body">
      <form>
        <div id="parenthesisMsg"></div>
        <div class="form-group">
          <label for="parenthesis">Parenthesis:</label>
          <input type="text" class="form-control" id="parenthesis" placeholder="Enter parenthesis data" required>
        </div>
        <button type="submit" class="btn btn-primary" id="parenthesisBtn">Submit</button>
      </form>
    </div>
  </div>
</div>
